doctype html
html
	head
		meta(charset='utf-8')
		title 云智汇
		link(href='/stylesheets/base.css', rel='stylesheet')
		link(href='/stylesheets/nav.css', rel='stylesheet')
		link(href='/stylesheets/error_page.css', rel='stylesheet')
	body
		include ./nav.jade
		div.container
			h1 服务器错误，请报告客服
			a(href='/') 返回主页