doctype html
html
	head
		meta(charset='utf-8')
		title 试用
		link(href='/stylesheets/base.css', rel='stylesheet')
		link(href='/stylesheets/nav.css', rel='stylesheet')
		link(href='/stylesheets/api_tabbar.css', rel='stylesheet')
		link(href='/stylesheets/api_offline.css', rel='stylesheet')
	body
		include ./nav.jade
		div.header.container
			h3.breadcrumb= '数据接口 > ' + info.title
			include ./api_tabbar.jade
			a.buy(href='/') 立即购买
		div.contact.container
			h3.title
				i.order 
				| 购买离线数据包
			p.info
				| 我们提供完整的千万条级离线数据包，包括：
			ul.info
				li 移动基站数据
				li 联通基站数据
				li 电信基站数据
				li 百度POI数据
				li 谷歌POI数据
				li 工商查询数据
			p.info
				|如有购买意向请联系
				a(onclick='window.open("http://login.taobao.com")') 阿里旺旺995967311
