doctype html
html
	head
		meta(charset='utf-8')
		title 我的应用
		link(href='/stylesheets/base.css', rel='stylesheet')
		link(href='/stylesheets/nav.css', rel='stylesheet')
		link(href='/stylesheets/applist.css', rel='stylesheet')
	body
		include ./nav.jade
		div.panel.container
			h3.title
				i.app
				应用列表
			a.new-btn(href="/app/new") 创建新应用
			table.applist
				tr
					th 应用
					th 应用名称
					th 当前套餐
					th 订单
				tr.padding
				each app in apps
					//- tr.item(onclick='window.open("/app/' + app.name + '?tab=plan")')
					tr.item(onclick='window.document.location="/app/' + app.name + '?tab=plan"')
						td
							img.tag(src="/images/app_tag.png")
						td= app.name
						td= app.planState
						if app.order
							td= '正在处理订单号: '+app.order.shortId
						else if app.plan
							td
								a.buy(href='/order/preview/'+app.name) 续费
						else
							td
								a.buy(href='/order/preview/'+app.name) 立刻包月  

