div.navbar
	div.container
		a.nav-header(href="/")
			img(src="/images/logo.png")
		ul.nav.main-nav
			li
				a(href="/api", class=index===0?'active':'') 数据接口
			li
				a(href="#", class=index===1?'active':'') 计费
			li
				a(href="#", class=index===2?'active':'') 文档
			li
				a(href="#") 常见问题
		ul.nav.right-nav
			li
				if user
					a(href="#")= user.email
					ul.dropdown
						li
							a(href="#")
								i.setting-small
								| 设置
						li.separate
						li
							a(href="/signout")
								i.out
								| 退出
				else
					a(href="/signin") 登录


