.header {
	position: relative;
	padding-top: 0.1px;
}

.breadcrumb {
	margin: 30px 0px 45px 24px;
	font-size: 16px;
	color: #64697B;
}

h3 {
	margin: 56px 0px 0px 24px;
	font-size: 	18px;
	color: #1AAAE6;
}

.buy {
	display: block;
	position: absolute;
	float: right;
	width: 210px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 4px;
	top: 50px;
	right: 24px;
	color: #FFFFFF;
	background-color: #1B89D4;
	font-size: 20px;
}

.title {
    margin: 42px 0px 60px 24px;
    font-size: 30px;
    color: #64697B;
}

i.order {
    display: inline-block;
    width: 44px;
    height: 44px;
    vertical-align: middle;
    background-image: url('/images/order.png');
    margin-right: 10px;
}

.info {
    margin-left: 60px;
    font-size: 16px;
    color: #64697B;
}

.info a {
    text-decoration: underline;
    color: #1AAAE6;
    cursor: pointer;
}

ul.info li {
	padding-top: 10px;
}

.contact {
	margin-bottom: 100px;
}
